<p id="notice"><%= notice %></p>

<center><h1>Bem-vindo ao Star Wars Show!!!</h1></center>


<table class="table table-sm">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Data de Nascimento</th>
      <th>Sexo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.height %></td>
        <td><%= person.mass %></td>
        <td><%= person.birth_year %></td>
        <td><%= person.gender %></td> 
        <td>
          <%= link_to person do %>
            <%= image_tag 'soldier-icon.png', height: '30px', width: '40px', class: 'btn btn-sm btn-dark' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

