<p id="notice"><%= notice %></p>
<div class="row">
  
</div>
<div>

</div>

<div class="card">
  <%= image_tag 'logo-star-wars.png', class: 'card-img-top' %>
  <div class="card-body">
    <center>
      <h5 class="card-title"><%= @person.name %></h5>
      <p class="card-text"><%= description(@person) %></p>
      <%= link_to 'Voltar', people_path, class: "btn btn-primary" %>
    </center>
  </div>
</div>